<div class="row">
  <div class="col-sm-6">
     <nb-card>
        <nb-card-header>
           DANH MỤC SẢN PHẨM
        </nb-card-header>
        <nb-card-body>
           <ng2-smart-table 
           [settings]="settings" 
           [source]="source" 
           (deleteConfirm)="onDeleteConfirm($event)"
           (editConfirm)=" onSaveConfirm($event)"
           (createConfirm)="onCreateConfirm($event)"
           >
           </ng2-smart-table>
        </nb-card-body>
     </nb-card>
  </div>
  <div class="col-sm-6">
     <nb-card>
        <ngx-subject-manage ></ngx-subject-manage>
     </nb-card>
  </div>
</div>